body{
    background-image: url("../../imgs/a.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.login_box {
    background-color: rgba(255, 255, 255, 0.171);
    height: 0%;
    width: 35%;
    margin-left: 55%;
    margin-top: 5%;
    border-radius: 3%;
}

.login_form_heading{
    margin-top: 30%;
    padding-top: 3%;
    font-size: 30px;
    color: rgb(246,117,112);
    /* F67570 */
}

.login_form{
    padding-bottom: 15%;
}

.login_form label{
    display: block;
    margin-left: 15%;
    color: #fff;
    font-size: 25px;
}

.login_form input{
    display: block;
    margin-left: 15%;
    width: 70%;
    background-color:transparent;
    border: solid rgb(51, 50, 50); 
    margin-bottom: 10%;
    color: rgb(246,117,112);
}

.login_form button {
    display: block;
    background-color: rgb(246,117,112);
    color: #fff;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}